<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="wrapper">
            <div style="height: 100px; max-width: 1920px; background-color: rgb(94, 110, 105);">
                шапка
            </div>
            <div class="cPlusMain infopovod">
                <div class="d_1">
                    <div class="title_1">
                        <span>
                            Вычеты и льготы по НДФЛ
                        </span>
                    </div>
                    <div class="text_1">
                        <span>
                            Записывайтесь на мероприятие «Вычеты НДФЛ — 2021: порядок предоставления»!
                        </span>
                    </div>
                    <div class="date_1">
                        <span>Дата проведения: 26 мая </span>
                    </div>
                </div>
                <div class="d_2">
                    <div class="pic_2">
                        <img src="https://test.4dk.ru/files/291045/Frame-10.jpg" alt="">
                    </div>
                    <div>
                        <div class="head_2">
                            <span>
                                Для вашего удобства мы собрали все необходимые пояснения, материалы и бонусы по теме в
                                одном
                                месте!
                            </span>
                        </div>
                        <div>
                            <ul>
                                <li class="list-item-img">
                                    <div><img src="https://test.4dk.ru/files/291043/1_item_add_box.jpg" alt=""></div>
                                    <div class=" hrf_2 list_text">
                                        <span>Квота на посещение мероприятия «Вычеты НДФЛ — 2021: порядок
                                            предоставления»
                                        </span>
                                        <span>
                                            <a class="a t_decor"
                                                href="https://www.4dk.ru/seminars/d/2021-05-26-100000-0-vychety-ndfl-2021poryadok-predostavleniya">
                                                Подробнее о мероприятии
                                            </a></span>
                                    </div>

                                </li>
                                <li class="list-item-img">
                                    <div><img src="https://test.4dk.ru/files/291035/2_item_verified.jpg" alt=""></div>
                                    <div class="list_text">Доступ к Линии консультаций по вопросам права,
                                        налогообложения и
                                        бухучёта на 7 дней
                                    </div>
                                </li>
                                <li class="list-item-img">
                                    <div><img src="https://test.4dk.ru/files/291038/3_item_map.jpg" alt=""></div>
                                    <div class="list_text">Доступ к путеводителю «Вычеты по НДФЛ» в КонсультантПлюс
                                    </div>
                                </li>
                                <li class="list-item-img">
                                    <div><img src="https://test.4dk.ru/files/291034/4_item_vertical_split.jpg" alt="">
                                    </div>
                                    <div class="list_text">Типовая ситуация: НДФЛ: вычеты и льготы (Издательство
                                        «Главная
                                        книга», 2021)</div>
                                </li>
                                <li class="list-item-img">
                                    <div><img src="https://test.4dk.ru/files/291036/5_item_Vector.jpg" alt=""></div>
                                    <div class="list_text">Готовое решение: Как предоставить имущественный вычет
                                        работнику
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="foot_2">
                            <div>
                                <img src="https://test.4dk.ru/files/291044/image-327.png" alt="">
                            </div>
                            <div class="foot_2_text">
                                <span> А также вы получите доступ к <a class="a"
                                        href="https://www.4dk.ru/consultant-plus/service/informer">Информеру</a> —
                                    сервису,
                                    который позволит
                                    пользоваться всеми
                                    услугами
                                    нашей компании в один клик!</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d_3">
                    <div class="form_3">
                        <div class="head_3">
                            <h3>Оставьте заявку и получите все бонусы!</h3>
                        </div>
                        <form class="form" method="POST" action="#">
                            <input class="input" type="text" placeholder="Имя*">
                            <input class="input" type="text" placeholder="Телефон*">
                            <input class="input" type="email" placeholder="Email*">
                            <button class="button" type="submit">Оставить заявку</button>
                            <div class="d_form_in">
                                <div class="sm_img">
                                    <img src="https://test.4dk.ru/files/291138/check_form.png" alt="">
                                </div>
                                <p>Принимаю <a class="openModal a" href="#"
                                        custom-href="aHR0cHM6Ly90ZXN0Mi40ZGsucnUvbW9kYWwvdGVybXNPZlVzZQ=="
                                        data-modal="termsOfUseModal">пользовательское
                                        соглашение</a></p>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="d_4">
                    <div><img src="https://test.4dk.ru/files/291055/perm_phone_msg.png" alt=""></div>
                    <div class="contact_4">
                        <span>У вас остались вопросы? Свяжитесь с нами! <br> +7 (495) 784-73-45 <br> ежедневно, c 9:00
                            до
                            19:00</span>
                    </div>
                </div>
            </div>
            <div style="height: 100px; max-width: 1920px; background-color: rgb(94, 110, 105);">
                подвал
            </div>
        </div>
    </div>
</body>

</html>